$gridSpaceWidth: .5em;

body {
  margin: 0;
}

.m-icro {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;

  &, * {
    box-sizing: border-box;
  }
}

.m-icro {
  position: relative;
  width: 270px;
  margin: 100px auto;
  color: #fff;

  &__pos-rel {
    position: relative;
  }

  &__numpad {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    color: #000;
    width: 150px;
    display: none;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1), 0 4px 8px 0 rgba(0,0,0,0.2);

    & > .m-icro__row {
      margin: 0;
    }

    &--active {
      display: block;
    }

    &-item {
      text-align: center;
      border: 1px solid #eaeaea;
      padding: 5px 0 5px 0 !important;
    }
  }

  &__find {
    &-results {
      position: absolute;
      background-color: #fff;
      color: #444;
      border: 1px solid #f7f7f7;
      width: 240px;
      z-index: 1;
      box-shadow: 0 0 15px 0 rgba(0,0,0,.3)!important;

      &-item {
        padding: 0.6em .8em;
        border-bottom: 1px solid rgba(33, 133, 208, 0.12);
        cursor: pointer;
        font-size: .95em;

        &:last-child {
          border-bottom: none;
        }

        &:hover {
          background-color: #3eacff;
          color: #fff;
        }
      }
    }
  }

  &__actions {
    margin-top: 1em;
  }

  &__persons {
    &-add {
      display: inline-block;
      margin-left: .4em;
      vertical-align: middle;
      font-size: 1.4em;
      line-height: .5;
      cursor: pointer;
    }
  }

  &__person {
    &-title {
      margin-bottom: .5em;
    }
  }

  &__hr {
    width: 95%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    margin: .75em auto;
  }

  &__label {
    pointer-events: none !important;
    font-size: .8em;
    margin-bottom: .2em;
  }

  &__block {
    &-head {
      margin-bottom: .75em;
    }
  }

  &__title {
    font-size: 1.3em;
  }

  &__body {
    margin-top: 1em;
  }

  &__content {
    background-color: #2185D0;
    padding: 1em;
  }

  &__row {
    margin: 0 (-$gridSpaceWidth) .7em;
    clear: both;

    +& {
      margin-top: 1em;
    }
  }

  &__row--three > &__column {
    width: 33.33%;
  }

  &__row--two > &__column {
    width: 50%;
  }

  &__column {
    padding: 0 $gridSpaceWidth;
    float: left;
  }

  input {
    padding: 0 10px!important;
    width: 100%!important;
    height: 35px!important;
    border: 1px solid transparent!important;
    background: #fff!important;
    color: #424242!important;
    font-size: 14px!important;
    border-radius: 2px!important;
    box-shadow: inset 2px 2px 0 0 #f0f0f0!important;

    &:disabled {
      opacity: .7 !important;
    }
  }

  &__clearfix,
  &__row {
    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }

  &__button {
    cursor: pointer!important;
    -webkit-appearance: button!important;
    border: none!important;
    text-transform: none!important;
    overflow: visible!important;
    margin: 0!important;
    border-radius: 0!important;
    font: inherit!important;
    outline: none !important;

    &--calculate {
      width: 100%!important;
      height: 50px!important;
      border-radius: 3px!important;
      box-shadow: 0 3px 0 0 rgba(0,0,0,.1)!important;
      font-weight: 600!important;
      font-size: 17px!important;
      background-color: #fff;
      color: #4e4e4e !important;
      position: relative;

      &:active {
        top: 2px;
        box-shadow: none!important;
      }
    }
  }
}